package ${package.Controller};

import java.util.Map;
import org.springframework.stereotype.Controller;
import com.xj.bms.base.index.web.BaseController;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.PathVariable;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestMethod;
import org.springframework.web.bind.annotation.ResponseBody;
import com.baomidou.mybatisplus.plugins.Page;
import com.xj.bms.base.common.bean.AbstractBean;
import com.xj.bms.base.common.exception.EnumSvrResult;
import ${package.Service}.${table.serviceName};
import ${package.Entity}.${entity};
#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end

/**
* <p>
    * ${table.comment} 前端控制器
    * </p>
*
* @author ${author}
* @since ${date}
*/
@Controller
@RequestMapping("/${package.ModuleName}/")

public class ${table.controllerName} extends BaseController {

@Autowired
private I${entity}Service ${package.ModuleName}Service;

@RequestMapping("listUI")
public String listUI(Map
<String,Object> map,Integer page) {
Page<${entity}> list = ${package.ModuleName}Service.selectPage(new Page<${entity}>(null==page?0:page, 10));
map.put("page", list);
return "${package.ModuleName}/list";
}

@RequestMapping("form")
public String form(Map
<String,Object> map) {
return "${package.ModuleName}/form";
}

@RequestMapping(value = "save", method = RequestMethod.POST)
@ResponseBody
public AbstractBean add(${entity} $entity.toLowerCase()){
AbstractBean bean = new AbstractBean();
if(!${package.ModuleName}Service.insertOrUpdate($entity.toLowerCase())){
bean.setStatus(EnumSvrResult.ERROR.getVal());
bean.setMessage(EnumSvrResult.ERROR.getName());
}
return bean;
}

@RequestMapping(value="{id}/delete",method=RequestMethod.DELETE)
@ResponseBody
public AbstractBean delete(@PathVariable(required=true) Integer id) {
AbstractBean bean = new AbstractBean();
if(!${package.ModuleName}Service.deleteById(id)){
bean.setStatus(EnumSvrResult.ERROR.getVal());
bean.setMessage(EnumSvrResult.ERROR.getName());
}
return bean;
}

@RequestMapping(value="{id}/select",method=RequestMethod.GET)
public String select(Map
<String,Object> map,@PathVariable(required=true) Integer id) {
${entity} $entity.toLowerCase() = ${package.ModuleName}Service.selectById(id);
map.put("record", $entity.toLowerCase());
return "${package.ModuleName}/edit";
}
}
